/* CSS Styelsheet */

body {

color: #000;
margin:0;
font-size: 1.2em;

}

/* Add a black background color to the top navigation */
.topnav {
  position: relative;
  list-style:none;
  margin:0;
  padding:0;
  text-align:center;
  background-color: #000;
  overflow: hidden;
}

.topnav ul{
    display:inline;
}


.topnav li{
    display:inline;
}

/* Style the links inside the navigation bar */
.topnav a {
  color: #83EAF1;
  text-align: center;
  font-family: arial;
  font-weight: bold;
  text-transform: uppercase;
  display:inline-block;
  padding: 14px 16px;
  text-decoration: none;
}


/* Change the color of links on hover */
.topnav a:hover {
  background-color: #83EAF1;
  color: black;
}

/* Add a color to the active/current link */
.topnav a.active {
  background-color: #83EAF1;
  color: white;
}

/* Centered section inside the top navigation */
.topnav-centered a {
  float: none;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
}

/* Right-aligned section inside the top navigation */
.topnav-right {
  float: right;
}

/* Responsive navigation menu - display links on top of each other instead of next to each other (for mobile devices) */
@media screen and (max-width: 600px) {
  .topnav a, .topnav-right {
    float: none;
    display: block;
  }

  .topnav-centered a {
    position: relative;
    top: 0;
    left: 0;
    transform: none;
  }

/* Link selector*/




}

.main-header {

background-color: #f9ea8f;
background-image: linear-gradient(315deg, #83EAF1 0%, #63A4FF
 74%);
text-align: center;
padding: 10%;
padding-top: 120px;
padding-bottom: 200px;


}

.profile {
  border-radius: 50%;
  border: solid 4px #fff;
}

/* Type selectors*/

h1 {

font-size: 3.2em;
color: #000;
text-align: center;
font-family: arial;
text-transform: uppercase;
font-weight: bold;
margin-top: 24px;
line-height: 1;

}

h2 {

font-size: 1.6em;
color: #FFF;
font-family: arial;

}

p  {
font-family: arial;
font-weight: bold;



}
.primary-cotent
.secondary-content {
width: 70%;

}



.secondary-content {

background-color: #6dc4f0;

}

/* Style all font awesome icons */
.fa {
  padding: 20px;
  border-radius: 50%;
  font-size: 20px;
  text-align: center;
  text-decoration: none;
}

/* Add a hover effect if you want */
.fa:hover {
  opacity: 0.7;
}

/* Set a specific color for each brand */

/* Facebook */
.fab-untappd{
  background: #000;
  color: white;
}

/* Twitter */
.fa-linkedin {
  background: #000;
  color: white;
}

/* Twitter */
.fa-instagram {
  background: #000;
  color: white;
}




#main-footer {

background: #000;
padding-top: 2%;
padding-bottom: 2%;
text-align: center;

}

#main-footer p {
color: #fff;

}

#main-footer a {
color: #F9EA8F;
text-decoration: none;


}
