/* CSS Styelsheet */

@import "import-styles.css";

body {

color: #000;
margin:0;
font-size: 1.2em;

}

/* Add a black background color to the top navigation */
.topnav {
  position: relative;
  list-style:none;
  margin:0;
  padding:0;
  text-align:center;
  background-color: #000;
  overflow: hidden;
}

.topnav ul{
    display:inline;
}


.topnav li{
    display:inline;
}

/* Style the links inside the navigation bar */
.topnav a {
  color: #AFF1DA;
  text-align: center;
  font-family: monospace;
  display:inline-block;
  padding: 14px 16px;
  text-decoration: none;
}


/* Change the color of links on hover */
.topnav a:hover {
  background-color: #AFF1DA;
  color: black;
}

/* Add a color to the active/current link */
.topnav a.active {
  background-color: #4CAF50;
  color: white;
}

/* Centered section inside the top navigation */
.topnav-centered a {
  float: none;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
}

/* Right-aligned section inside the top navigation */
.topnav-right {
  float: right;
}

/* Responsive navigation menu - display links on top of each other instead of next to each other (for mobile devices) */
@media screen and (max-width: 600px) {
  .topnav a, .topnav-right {
    float: none;
    display: block;
  }

  .topnav-centered a {
    position: relative;
    top: 0;
    left: 0;
    transform: none;
  }

/* Link selector*/




}

.main-header {

background-color: #f9ea8f;
background-image: linear-gradient(315deg, #f9ea8f 0%, #aff1da 74%);
text-align: center;
padding: 10%;
padding-top: 120px;
padding-bottom: 200px;


}

.profile {
  border-radius: 50%;
  border: solid 4px #fff;
}

/* Type selectors*/

h1 {

font-size: 4em;
color: #000;
text-align: center;
font-family: monospace;
text-transform: uppercase;
margin-top: 24px;
line-height: 1;

}

h2 {

font-size: 2.5em;
color: white;
font-family: monospace;

}

p  {
font-family: monospace;



}
.primary-cotent
.secondary-content {
width: 70%;

}



.secondary-content {

background-color: #6dc4f0;

}





#main-footer {

background: #000;
padding-top: 2%;
padding-bottom: 2%;
text-align: center;

}

#main-footer p {
color: #fff;

}

#main-footer a {
color: #F9EA8F;
text-decoration: none;


}
